body {
  background-color: teal;
}
h1 {
  color: skyblue;
  text-align: center;
  font-style: italic;
}
img {
  max-width: 10%;

}
.projects {
  background-color: pink;
}
.Hobbies {
  background-color: grey;
}
.reason {
  color: red;
}
.sidebar {
  background-color: grey;
  width: 30%;
}
em {
  color: blue;
}
.test-box {
  border: 2px solid black;
}
