body {
  background-color: white;
}
h1 {
  color: purple;
  text-align: left;
  font-style: italic;
}
img {
  max-width: 20%;

}
.projects {
  background-color: #9e9d24 ;
}
.Hobbies {
  background-color: grey;
}
.reason {
  color: red;
}
.sidebar {
  background-color: grey;
  width: 30%;
}
em {
  color: blue;
}
.test-box {
  border: 2px solid black;
}
.test-box {
  padding: 6px;
}
.test-box {
  margin: 20px;
}
.projects li {
  font-weight: bold;
}
h1 {
  text-align: center;
}
